.button-panel {
    margin: 2em 0 0;
    width: 100%;
}

.button-panel .button {
    background: #f16272;
    border: none;
    color: #fff;
    cursor: pointer;
    height: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    letter-spacing: 0.05em;
    text-align: center;
    transition: background 0.3s ease-in-out;
    width: 100%;
}

.button:hover {
    background: #ee3e52;
}

.bottomButton {
    width: 100%;
}

.buttomButton .button {
    margin-top: 5px;
    background: #f16272;
    border: none;
    color: #fff;
    cursor: pointer;
    height: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    letter-spacing: 0.05em;
    text-align: center;
    transition: background 0.3s ease-in-out;
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
}

.button-center {
    margin: auto;
    padding: 5px;
}